%h1= @entry.blog.title

%p
  %b Title:
  = @entry.title
%p
  %b Body:
  = @entry.body

= link_to 'Edit', edit_blog_entry_path(@entry.blog_id, @entry)
\|
= link_to 'Back', blog_path(@entry.blog_id)

- if @entry.comments.any?
  %h2 Listing comments
  %table
    %thead
      %th Body
      %th
      %th
    %tbody
      - @entry.comments.each do |comment|
        %tr
          %td= comment.status == 'approved' ? comment.body : '(承認待ち)'
          %td= link_to 'Approve', approve_comment_path(comment), method: :patch if comment.status == 'unapproved'
          %td= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }

%h2 New comment
= form_for(@comment) do |f|
  .field
    = f.hidden_field :entry_id 
  .field
    = f.label :body
    %br
    = f.text_area :body
  .actions
    = f.submit
