%h1= @entry.blog.title
%p#notice= notice

%p
  %b Title:
  = @entry.title
%p
  %b Body:
  = @entry.body

= link_to 'Edit', edit_blog_entry_path(@entry.blog_id, @entry)
\|
= link_to 'Back', blog_path(@entry.blog_id)
